/* ---------------------------------- */
/* ------------ General ------------- */
/* ---------------------------------- */
* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 3em;
    font-weight: bolder;
}

h2 {
    font-size: 2em;
    font-weight: bold;
}

h3 {
    font-size: 1em;
    font-weight: unset;
}



/* ---------------------------------- */
/* ---------- Contatiners ----------- */
/* ---------------------------------- */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}




body {
    background-color: "99cccc";
    margin: 0, 0, 0, 0;
}


/* ---------------------------------- */
/* ----------- Navigation ----------- */
/* ---------------------------------- */
nav {
    background-image: url("./images/bg_left.gif");
    background-size: 100% auto;
    background-repeat: repeat-y;

    width: 10%;
}

nav ul {
    list-style-type: none;
}

nav li {
    padding-top: 3%;
    padding-bottom: 3%;
}

nav li a {
    size: 20px;
    color: white;
    text-decoration: none;

    word-wrap: break-word;
}

nav li a:link {
    color: white;
    text-decoration: none;
}

nav li a:hover {
    color: wheat;
    text-decoration: underline;
}

nav li img {
    width: 80%;
    height: 80%;
}


main {
    flex-grow: 1;
}

/* ---------------------------------- */
/* ---------- Main Content ---------- */
/* ---------------------------------- */
#content {
    background-image: url('images/bg_middle.gif');
    background-size: 100% auto;
    background-repeat: repeat-y;

    width: 80%;
    padding: 2%;
}

footer {
    width: 100%;
    padding-top: 10%;
}

footer * {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

footer img{
    width: 8%;
    height: 8%;
    padding: 3%;
}


/* ---------------------------------- */
/* ------------ Sponsors ------------ */
/* ---------------------------------- */
#sponsors {
    background-image: url('images/bg_right.gif');
    background-size: 100% auto;
    width: 20%;
}

#sponsors * {
    align-self: center;
}

#sponsors img {
    max-height: 200px;
    max-width: 80%;
    
    padding: 1%;
}
